/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}
/* Some Variables */
:root {
  --main-color: #1855fc;
  --text-color: #020307;
  --bg-color: #fff;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background: var(--text-color);
  color: var(--bg-color);
}

section {
  padding: 4.5rem 0 1.5rem;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  transition: 0.5s;
  z-index: 1000;
}

header.shadow {
  background: var(--bg-color);
  box-shadow: 0 0 4px rgb(14, 55, 54 / 15%);
}
header.shadow .navbar a {
  color: var(--text-color);
}
header.shadow .logo {
  color: var(--text-color);
}

.logo {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--bg-color);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.navbar {
  display: flex;
  column-gap: 5rem;
  margin-left: 10rem;
}

.navbar li {
  position: relative;
}

.navbar a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--bg-color);
}

.navbar a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--main-color);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.4s all linear;
}

.navbar a:hover::after,
.navbar .home-active::after {
  width: 100%;
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 99999999;
  display: none;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box input {
  background-color: #1855fc;
  border: none;
  outline: none;
  color: #ffffff;
}
.search-box input::placeholder {
  color: #ffffff5e;
}

.search-box button {
  background-color: transparent;
  color: #ffffffc9;
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  width: 100%;
  min-height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  background: rgb(2, 3, 7, 0.4);
}
.container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  border-radius: 0.2rem !important;
  background: var(--bg-color) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  width: 1.5rem !important;
  background: var(--main-color) !important;
}

.home-text {
  z-index: 1000;
  padding: 0 150px;
}

.home-text span {
  color: var(--bg-color);
  font-weight: 500;
  text-transform: uppercase;
}

.home-text h1 {
  color: var(--bg-color);
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.btn {
  padding: 0.7rem 1.4rem;
  background: var(--main-color);
  color: var(--bg-color);
  font-weight: 400;
  border-radius: 0.5rem;
}

.btn:hover {
  opacity: 0.8;
}

.movies-container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  margin-top: 2rem;
}

.movie {
  background-color: #373b69;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  overflow: hidden;
  position: relative;
}

.movie img {
  width: 100%;
  object-fit: contain;
}

.movie-info {
  color: #eee;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
  align-items: center;
  font-weight: bold;
}

.movie-info h3 {
  margin: 0;
  text-overflow: ellipsis;
}

.movie-info span {
  background-color: #22254b;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
}

.movie-info span.green {
  color: rgb(39, 189, 39);
}
.movie-info span.orange {
  color: orange;
}
.movie-info span.red {
  color: rgb(189, 42, 42);
}

.overview {
  background-color: rgba(241, 244, 247);
  padding: 2rem;
  position: absolute;
  max-height: 100%;
  overflow: auto;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(101%);
  transition: all 0.5s ease-in;
  color: #000;
}

.overview h4 {
  margin-top: 0;
}

.movie:hover .overview {
  transform: translateY(0);
  opacity: 0.8;
}

.movie img:hover {
  transform: translateY(-10px);
  transition: 0.2s all linear;
}

.movies .statsline {
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem;
}

#coming {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 1170px;
  width: 100%;
}

.latest-heading {
  max-width: 1170px;
  padding: 10px 20px;
  background-color: #0e0e0ec2;
  border: 1px solid #161616b9;
  margin: auto;
  margin-top: 5rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #1855fc;
}

.main-slider-box {
  width: 100%;
  height: 500px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #0e0e0ec2;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.main-slider-img {
  height: 85%;
  width: 100%;
}
.main-slider-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.main-slider-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(500px - 85%);
  background: linear-gradient(360deg, #161616b9 2%, rgba(73, 73, 73, 0.1) 64%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  justify-content: space-between;
}

.main-slider-text .movie-name {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: absolute;
  bottom: 2.2rem;
  left: 0;
  padding: 0.2rem;
}

.main-slider-text .movie-name strong {
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  margin-top: 10px;
  letter-spacing: 0.5px;
  color: white;
}

.main-slider-text .category {
  color: white;
  font-size: 0.8rem;
  font-weight: 800;
  display: flex;

  position: absolute;
  left: 2px;
}

.main-slider-text .category a {
  color: #e70634;
  margin: 0 3px;
  text-align: left;
}

.rating img {
  height: 10px;
  width: 20px;
  object-fit: contain;
  object-position: center;
}

.rating {
  font-size: 0.8rem;
  color: #ffffff;
  letter-spacing: 1px;
  position: absolute;
  right: 5rem;
}

.main-slider-text .category-rating {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  position: static !important;
  transform: translate(0, 0);
  margin: 10px 0 0 20px !important;
}

.swiper-btns {
  display: flex;
  justify-content: flex-end;
  max-width: 1170px;
  width: 100%;
  margin: 10px auto 0 auto;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px !important;
  font-weight: 800;
  color: #ffffff;
}

.newsletter {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
}

.newsletter h2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 800;
}

.newsletter form {
  background-color: var(--bg-color);
  padding: 10px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

.newsletter form input {
  border: none;
  outline: none;
}

.newsletter form .email {
  width: 280px;
}

.newsletter form input::placeholder {
  color: var(--text-color);
  font-size: 0.8rem;
  font-weight: 400;
}

.newsletter .btn {
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

footer {
  max-width: 968px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  margin-top: 2rem;
}

.social .bx {
  background: var(--bg-color);
  padding: 2px;
  font-size: 2rem;
  border-radius: 50%;
  border: 4px solid rgb(2, 3, 7, 0.4);
  color: var(--main-color);
}

.social .bx:hover {
  background: var(--main-color);
  color: var(--bg-color);
  transition: 0.2s all linear;
}

.copyright {
  padding: 20px;
  text-align: center;
  color: var(--bg-color);
}

#progress {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 25px;
  right: 25px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  display: grid;
  place-items: center;
  z-index: 2;
}

#progress-value {
  display: block;
  height: calc(100% - 5px);
  width: calc(100% - 5px);
  background-color: #1c1f25;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 0px;
}

.div-block {
  overflow: hidden;
}

/* ! MEDIA QUERIES */

@media (max-width: 1147px) {
  .navbar {
    margin-right: 3rem;
  }

  #coming {
    margin: 1rem;
    max-width: 70rem;
  }

  .latest-heading {
    max-width: 1126px;
    padding: 10px 20px;
    margin: auto;
  }

  .navbar {
    display: flex;
    column-gap: 5rem;
    margin-left: 10rem;
  }
}

@media (max-width: 1080px) {
  .home-text {
    padding: 0 100px;
  }

  .latest-heading {
    max-width: 65rem;
  }
  .navbar {
    margin-right: 2rem;
  }

  #coming {
    padding: 1rem;
  }

  .main-slider-box {
    width: 98%;
  }
}

@media (max-width: 1056px) {
  .navbar {
    position: absolute;
    left: 4.5rem;
  }

  .search-box {
    position: absolute;
    width: 15rem;
    right: 1rem;
  }

  #coming {
    padding: 2rem;
    max-width: 64rem;
  }

  .main-slider-box {
    width: 98%;
  }
}

@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }

  section {
    padding: 50px 4%;
  }
  .home-text {
    padding: 0 4%;
  }

  .home-text h1 {
    font-size: 3rem;
  }

  .navbar {
    position: absolute;
    left: 0.5rem;
  }

  .search-box {
    position: absolute;
    width: 15rem;
    right: 1rem;
  }

  #coming {
    padding: 3rem;
    max-width: 60rem;
  }

  .main-slider-box {
    width: 98%;
  }
}

@media (max-width: 930px) {
  .navbar {
    column-gap: 3rem;
  }
}

@media (max-width: 833px) {
  .search-box {
    width: 12rem;
  }

  .latest-heading {
    max-width: 50rem;
  }
}

@media (max-width: 774px) {
  header {
    padding: 12px 4%;
    display: flex;
    justify-content: space-between;
  }

  #menu-icon {
    display: initial;
    color: var(--bg-color);
    position: absolute;
    left: 23.5rem;
  }

  section {
    padding: 50px 4%;
  }

  #home {
    width: 49rem;
  }
  .container img {
    right: 0;
    margin: 0;
  }

  .navbar {
    width: 49rem;
    position: absolute;
    top: -570px;
    left: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    row-gap: 1.4rem;
    padding: 20px;
    box-shadow: 4px 4px 0 4px rgb(14, 55, 54 / 15%);
    transition: 0.2s;
    text-align: center;
    margin: 0;
  }

  .search-box {
    width: 12rem;
  }

  .search-box i {
    font-size: 14px;
  }

  .navbar a {
    color: var(--text-color);
    width: 100%;
  }
  .navbar a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
  }

  .navbar a::after {
    display: none;
  }

  .navbar.active {
    top: 100%;
  }
  header.shadow #menu-icon {
    color: var(--text-color);
  }

  .home-text h1 {
    font-size: 2.4rem;
  }
  .btn {
    padding: 0.6rem 1.2rem;
  }

  .movies-container {
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  }

  .main-slider-box {
    width: 94%;
  }
}

@media (max-width: 700px) {
  #menu-icon {
    left: 20.5rem;
  }

  .swiper-pagination{
    display: none;
  }

  .movies-container {
    grid-template-columns: repeat(auto-fit, minmax(16rem, auto));
  }

  .latest-heading {
    width: 37rem;
  }

  .navbar {
    width: 100%;
  }

  .swiper-btns {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 680px) {
  
  #menu-icon {
      left: 17.5rem;
      width: 100%;
  }
}


@media (max-width: 576px) {
  #menu-icon {
    left: 17rem;
  }
  .swiper-btns {
    justify-content: center;
    align-items: center;
  }

  .search-box {
    width: 8rem;
  }
  .search-box input {
    width: 5rem;
  }

  .search-box input::placeholder {
    text-overflow: clip !important;
  }

  .search-box i {
    font-size: 0.8rem;
    position: relative;
    left: 10px;
  }

  .logo {
    height: 3rem;
    width: 3rem;
  }
}


@media (max-width: 680px) {
  
  #menu-icon {
      left: 14.5rem;
      width: 100%;
  }
}

@media (max-width: 472px) {
  .newsletter form .email {
    width: auto;
  }
  footer {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  #menu-icon {
    left: 13.5rem;
  }

  .search-box {
    width: 8rem;
  }

  .search-box input {
    width: 6rem;
  }

  .latest-heading {
    width: 27rem;
  }

  .latest-heading h2 {
    font-size: 1rem;
  }

  .search-box i {
    left: 5px;
  }
}

@media (max-width: 370px) {
  header {
    padding: 6px 4%;
  }
  .home-text h1 {
    font-size: 1.7rem;
  }

  .movies-container {
    grid-template-columns: repeat(auto-fit, minmax(140px, auto));
  }

  
  #menu-icon {
    left: 10.5rem;
  }

  .latest-heading {
    width: 20rem;
  }

  .search-box {
    width: 6rem;
  }

  .search-box input {
    width: 4rem;
  }
  .search-box i {
    left: 3px;
    font-size: 0.7rem;
  }
}
